
.recapIcon { margin: 0 0 0 0.3em; }
.recapIconImage { border: 0px;
		  vertical-align: middle; 
		  cursor: pointer;
		}

.recapOuterDiv { text-align: right; }
.recapInnerDiv { text-align: center; }

.recapDownloadButton { font-weight: bold;
		       border-style: solid;
		       border: 2px solid #888888;
		       padding: 3px;
		       text-decoration: none;
		       background-color: #DDDDDD;
		       color: black;
		     }

.recapCloseButton { border: 0px;
		    width: 1em;
		    height: 1em;
		  }
		  
.recapDisclaimer {
		       border-style: solid;
		       border: 1px solid #888888;
				color: #999999;
				font-size: 75%;
				}